@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Colors */
$primary-color: #101D24; /* background color #18252D */
$secondary-color: #232D36; /* header */
$tertiary-color: #189C87;
$quaternary-color: #101D25;
$primary-text-color: #9DA5AC; /* text app */
$secondary-text-color: #D3DAE0; /* large texts */
$tertiary-text-color: #868F94; /* small texts */
$light-color: #FFFFFD;
$dark-color: #000000a3;@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Colors */
$primary-color: #101D24; /* background color #18252D */
$secondary-color: #232D36; /* header */
$tertiary-color: #189C87;
$quaternary-color: #101D25;
$primary-text-color: #9DA5AC; /* text app */
$secondary-text-color: #D3DAE0; /* large texts */
$tertiary-text-color: #868F94; /* small texts */
$light-color: #FFFFFD;
$dark-color: #000000a3;